

/* .App {
  background-color: #282c3475;
  background-image: url(../src/assets/netflix-bg.jpeg) no-repeat center center fixed;
} */

.content {
  min-height: 90vh;
  background: linear-gradient(rgba(36, 36, 97, 0.8), rgba(195, 31, 31, 0.6)), url(../src/assets/netflix-bg.jpeg) no-repeat center center fixed;
  display: flex;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  color: white;
}

.allMovies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  margin: 5em 3em;
}

.card {
  border: 1px solid white;
  padding: 20px 15px;
  margin: 0 auto;
  background-color: white;
  font-size: 18px;
  border-radius: 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.form {
  border: 1px solid white;
  padding: 20px 15px;
  margin: 0 auto;
  background-color: #282c34;
  font-size: 18px;
  border-radius: 10px;
  color: white;
}

.poster {
  margin-left: 12%;
  max-width: 300px;
}

.btn {
  background-color: rgb(173, 50, 50);
  color: white;
  font-size: 18px;
  font-weight: 900;
  padding: .5em 3em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(177, 56, 56);
  color: white;
  font-size: 18px;
  font-weight: 900;
  padding: .5em 3em;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 5px 20px #282c34;
  transition: all .5s;
}

h1 {
  margin: .3em 0!important;
}

.navLink {
  text-decoration: none;
  margin: 0 20px;
  padding: 5px 30px;
  color: white;
  font-size: .6em;
  font-weight: 400;
  border: 1px solid white;
  border-radius: 4px;
}

.navLink:hover {
  transition: all .3s;
  background-color: #B03838;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.link:hover {
  color: #c34b4b;
  text-decoration: underline;
  transition: all .3s;
}

.home {
  background-color: #282c34;
  margin: 5% 20%;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 1.2em;
  color: white;
  text-align: center;
}